extracted_main_audio/
extracted_guanggao_audio/
extracted_events/
extracted_content_ui/
extracted_ag97/
extracted/
lootbox_activity_解包结果/
ui_backgrounds_探索/
sharedassets_backgrounds/
bgm_探索/
MW解包有益资源/contentseparated_assets_activities/
MW解包有益资源/contentseparated_assets_content/
MW解包有益资源/contentseparated_assets_offers/
MW解包有益资源/contentseparated_assets_assets/
MW解包有益资源/contentseparated_assets_ui_eventhub/
MW解包有益资源/common-items/
MW数据站爬虫/抽奖物品数据/
MW数据站爬虫/爬取数据/
MW数据站爬虫/字段数据/
__pycache__